body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(176, 127, 255);
  text-decoration: none;
}

.search-input {
  background-color: white;
  width: 75%;
  margin: 50px auto;
  padding: 23px;
  border-radius: 6px;
  color: black;
  border: none;
  align-items: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  box-sizing: border-box;
}

.search-button {
  margin-left: 5px;
  font-size: 20px;
  background-color: azure;
  color: #885df1;
  border: none;
  padding: 21px;
  line-height: 1;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.button-container {
  text-align: center;
  margin-top: 50px;
}

main {
  padding: 30px 0;
  text-align: center;
}

h1,
h2 {
  font-size: 50px;
  color: antiquewhite;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

p {
  font-size: 70px;
  color: antiquewhite;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 14px;
}

@media (max-width: 768px) {
  .search-input {
    width: 90%;
  }

  .search-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }

  h1,
  h2 {
    font-size: 35px;
  }

  p {
    font-size: 50px;
  }
}

@media (max-width: 480px) {
  h1,
  h2 {
    font-size: 28px;
  }

  p {
    font-size: 40px;
  }
}
